<li>
	<section class="orderName">     {{name}} : {{burger}}</section>

	{{#if served}}

	<button class="change-served serveIt" data-id="{{id}}" data-newServed="{{served}}">SERVE IT!</button>
	
	<button class="delete-burger tossIt" data-id="{{this.id}}">YOU BURNED IT!</button>

	{{else}}
    
	
	<button class="change-served sendItBack" data-id="{{id}}" data-newServed="{{served}}">SEND IT BACK!</button>

	<button class="delete-burger cashIt" data-id="{{this.id}}">CHECK PLEASE!</button>
	
	{{/if}}

</li>
